<div class="navbar">
    <h1 class="registros-tittle">Sistema de Registros de Veículos</h1>
    <a href="/"><button class="navbar-button">Sair do sistema</button></a>
</div>

<div class="registros-pai">
{{#each posts}}
    <div class="registros">
        <span>Cliente: {{nome}}</span>  
        <span>Marca: {{marca}}</span>
        <span>Modelo: {{modelo}}</span>
        <span>Placa: {{placa}}</span>
        <span>Data: {{data}}</span>
        <span>Hora: {{horaEntrada}}</span>
        <a href="/remover/{{id}}"><button class="registros-button">Finalizar</button></a> 
    </div>
{{/each}}
</div>

<div class="add-veiculo">
    <a href="/entrada"><button class="button-cad" >+</button></a>
</div>


