<nav class="navbar">
    <div class="logo">
        <img src="/img/estacionamento2.png" alt="Imagem do estacionamento" class="logo-img">
        <h1 class="registros-tittle">Estacionamento</h1>
    </div>

    <ul class="navbar-options">
        <li><a href="/"><button class="navbar-options-button">Sair do sistema</button></a></li>
    </ul>
</nav>

    

<div class="registros-container">
{{#each posts}}
    <div class="registros-chield">
        <span>Cliente: {{nome}}</span>  
        <span>Marca: {{marca}}</span>
        <span>Modelo: {{modelo}}</span>
        <span>Placa: {{placa}}</span>
        <span>Data: {{data}}</span>
        <span>Hora: {{horaEntrada}}</span>
        <a href="/remover/{{id}}"><button class="registros-button">Finalizar</button></a> 
    </div>
{{/each}}
</div>

<div class="add-veiculo">
    <a href="/entrada"><button class="button-cad" >+</button></a>
</div>


