<nav class="menu-top">
    <div class="logo">
        <img src="/img/estacionamento.png" alt="Imagem do estacionamento" class="logo-img">
        <h1 class="registros-tittle">Estacionamento</h1>
    </div>
    <ul class="navbar-options">
        <li><a href="/veiculos"><button class="navbar-options-button"><img class="button-img" src="/img/carros.png" alt="">Mostrar Veiculos</button></a></li>
        <li><a href="/veiculos/entrada"><button class="navbar-options-button"><img class="button-img" src="/img/mais.png" alt=""> Cadastrar Veiculos</button></a></li>
        <li><a href="/veiculos/registros"><button class="navbar-options-button"><img class="button-img" src="/img/registro-online.png" alt="">Registro Geral</button></a></li>
        <li><a href="/usuario/cadastro"><button class="navbar-options-button" type="button"><img class="button-img" src="/img/caduser.png" alt=""> Cadastrar Usuário</button></a></li>
        <li><a href="/"><button class="navbar-options-button"><img class="button-img" src="/img/sair.png" alt="">Sair do sistema</button></a></li>
     </ul>
</nav>

<div class="registros-container">
{{#each posts}}
    <div class="registros-chield">
        <span>Cliente: {{nome}}</span>  
        <span>Marca: {{marca}}</span>
        <span>Modelo: {{modelo}}</span>
        <span>Placa: {{placa}}</span>
        <span>Data: {{dataEntrada}}</span>
        <span>Hora: {{horaEntrada}}</span>
        <a href="/veiculos/finalizar/{{id}}"><button class="registros-button">Finalizar</button></a> 
        <a href="/veiculos/editar/{{id}}"><button class="registros-button">Editar</button></a> 
    </div>
{{/each}}
</div>
